@model AccountingSystem.Models.ViewModels.RequestCreateViewModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="RequestType" value="5" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label">Рабочий план на каждый день удаленной работы</label>
                <input asp-for="Comment" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Согласующий</label>
                <select name="approverId" class="form-control" asp-items="ViewBag.UsersForApprove"></select>
            </div>
            <div class="modal-user-buttons">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}